<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="rit.csh.drink">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_csh_logo_round"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="rit.csh.drink.view.RefreshActivity" android:screenOrientation="portrait"/>
        <activity android:name="rit.csh.drink.view.LaunchActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="rit.csh.drink.view.DropDrinkActivity" android:screenOrientation="portrait"/>
        <activity android:name="rit.csh.drink.view.SignInActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="rit.csh.drink.view.MainActivity"
            android:icon="@drawable/ic_csh_logo_round"
            android:screenOrientation="portrait"
            android:label="Drink" />
        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            android:screenOrientation="portrait"
            tools:node="replace">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="redirect"
                    android:scheme="drink" />
            </intent-filter>
        </activity>
    </application>

</manifest>